nav {
	max-width: 300px;
	padding-top: 100px;
	font-family: 'Segoe Print', 'Segoe Script', serif;
	text-align: center;
}

header {
	font-family: 'Segoe Print', 'Segoe Script', serif;
}

h1, h3 {
	margin: 0;
}

h1 {
	font-size: 2.5em;
	line-height: 1.2em;
}

h3 {
	font-size: 
}

.menu-btn {
	width: 80%;
	height: 60px;
	padding: 0 10%;
	font-family: 'Segoe Print', 'Segoe Script', serif;
	font-size: 1.2em;
}

h2, h4 {
	color: white;
	background-color: #1a0d00;
	margin: 3px;
	cursor: pointer;
}

h4 {
	margin-bottom: 15px; 
}


